.container {
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: var(--theme-background, rgba(255, 255, 255, 0.03));
  backdrop-filter: var(--theme-backdrop-filter, blur(20px));
  -webkit-backdrop-filter: var(--theme-backdrop-filter, blur(20px));
  border-radius: var(--main-border-radius) !important;
  border: 1px solid rgb(24 24 24);
}
.content {
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: var(--main-border-radius) !important;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
